/* место для вашего кода */
.wrapper {
  min-height: 100%;
  display: flex;
  flex-direction: column;
}

.wrapper > main {
  flex: 1 1 auto;
}

/*Модули--------------------------*/

[class*="_toner"]::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: #000;
  opacity: 0.6;
}

.menu-list__item_style-none {
  list-style: none;
}

.menu-list__item-link_active {
  text-decoration: none;
}
.contact-list__item_active {
  text-decoration: none;
}

/* .titles-cover {
} */

/*Навигация-----------------------*/

.menu-list {
  flex-wrap: wrap;
}

.menu-list__item {
  font-size: 18px;
  line-height: normal;
}

.menu-list__item-link {
  position: relative;

  text-decoration: none;

  transition: color 0.3s ease;
}

.menu-list__item-link::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 1px;
  bottom: -1px;
  left: 0;
  background-color: #000;
  transition: background-color 0.3s ease;
}

.menu-list__item-link:hover::after {
  content: "";
  background-color: #ffeb3c;
}

.menu-list__item_style-none > .menu-list__item-link_active::after {
  display: none;
  text-decoration: none;
}

.menu-list__item-link:hover {
  color: #ffeb3c;
  text-decoration: none;
}

/*Навигация-----------------------*/

/*Контакты-----------------------*/

.contact-list {
  list-style: none;

  font-size: 18px;
  line-height: 135%;
}

.contact-list__item {
  margin-left: auto;
  max-width: 240px;
}

.contact-list__item-link {
  position: relative;
  text-decoration: none;
  transition: color 0.3s ease;
}

.contact-list__item-link::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 1px;
  bottom: -1px;
  left: 0;
  background-color: #000;
  transition: background-color 0.3s ease;
}

.contact-list__item-link:hover::after {
  content: "";
  background-color: #ffeb3c;
}

.contact-list__item-link:hover {
  color: #ffeb3c;
}

.titles-item__span-unset-spacing {
  letter-spacing: normal;
}

/*Контакты-----------------------*/
/*Стили заголовка-----------------------*/
.titles-item__span_height {
  line-height: 115%;
}

.titles-item__span-whide {
  letter-spacing: 0.6em;
}

/* .titles-item__span_left {
} */

.titles-item__span_center {
  text-align: center;
}

.titles-item__span_right {
  text-align: right;
}

/*Стили заголовка-----------------------*/
/*Модули--------------------------*/

/*header--------------------------*/

.header {
  padding: 92px 50px 93px;

  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header__menu {
  flex: 1 0;
}

.header__menu-list {
  display: flex;

  list-style: circle;
}

.header__menu-list > :not(:last-child) {
  margin-right: 33px;
}

.header__logo {
  position: relative;
  display: block;
  flex: 1 0;
  max-width: 138px;
  height: 108px;
  transition: max-width 0.3s ease;
}
.header__logo:hover {
  max-width: 148px;
}

.header__logo img {
  display: block;
  width: 100%;
}

.header__contact-list {
  flex: 1 0;
}

/*header--------------------------*/

/*cover--------------------------*/

.page__cover {
  padding: 165.5px 50px 49px;
  position: relative;

  color: #fff;
  background: url(../images/cover.jpg) center / cover no-repeat;
}

.cover > * {
  position: relative;
  z-index: 10;
}

.page__cover > :not(:last-child) {
  margin-bottom: 135px;
}

.cover__titles-item {
  font-size: 100px;
  font-weight: 700;
  line-height: 100%;
  letter-spacing: 30px;
  text-transform: uppercase;
}

.cover__titles-item > :not(:last-child) {
  margin-bottom: 20px;
}

.cover__titles-item > span {
  display: block;
}

.titles-item__span_right span {
  text-align: end;
}

.cover__bet {
  display: flex;
  align-items: center;
  justify-content: flex-end;

  font-size: 22px;
  text-transform: uppercase;
}

.cover__bet > :not(:last-child) {
  margin-right: 78px;
}

.cover__bet-text {
  display: flex;
  gap: 23.3px;
  line-height: 127.272727%;
  word-spacing: 0.8em;
}

.cover__bet-button {
  display: block;
  padding: 12.5px 32px;

  background-color: rgba(255, 255, 255, 0);
  color: #fff;

  font-size: 22px;
  text-transform: uppercase;
  border: solid 1px #fff;
  line-height: normal;
  transition: all 0.3s ease;
}

.cover__bet-button:hover {
  background-color: #fff;
  color: #000;
}

/*cover--------------------------*/

/*lots--------------------------*/

.page__lots {
  padding: 180.5px 50px 90px;
}

.lots__title {
  margin-left: 40px;
  margin-bottom: 26px;

  font-size: 40px;
  font-weight: 700;
  text-transform: uppercase;
}

.lots__cards-list {
  margin-bottom: 30px;
  list-style: none;
}

.cards-list {
  display: flex;
  flex-wrap: wrap;
  gap: 25px;
  flex: 1 1 32%;
}

.cards-list li {
  display: flex;
  flex: 1 0 auto;

  max-height: 450px;
}

.cards-list__card {
  width: 430px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex: 1 1 auto;

  padding: 50px 40px;

  color: #fff;
  text-decoration: none;
  line-height: 120%;
}

.cards-list__card > :not(:last-child) {
  margin-bottom: 31px;
}

.cards-list__card-title {
  margin-bottom: 35px;

  font-size: 22px;
  font-weight: 700;
  line-height: 120%;
  text-decoration-line: underline;
  text-transform: uppercase;
  position: relative;
}

.cards-list__card-text {
  flex: 0 1;
  position: relative;
}

.cards-list__card_film {
  position: relative;
  background: url(../images/card-lot-01.jpg) center / cover no-repeat;
}

.cards-list__card_book {
  position: relative;
  background: url(../images/card-lot-02.jpg) center / cover no-repeat;
}

.cards-list__card_picture {
  position: relative;
  background: url(../images/card-lot-03.jpg) center / cover no-repeat;
}

.lots__link {
  position: relative;
  margin-left: 40px;
  text-decoration: none;
  transition: color 0.3s ease;
}
.lots__link::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 1px;
  bottom: -1.5px;
  left: 0;
  background-color: #000;
  transition: background-color 0.3s ease;
}
.lots__link:hover::after {
  content: "";
  background-color: #ffeb3c;
}
.lots__link:hover {
  color: #ffeb3c;
}

/*lots--------------------------*/

/*about--------------------------*/

.page__about {
  padding: 91.5px 50px 90px;
  display: flex;
  justify-content: space-between;
}

.about__image {
  max-width: 241px;
  margin: 0 95px;
  padding: 63px 46px;

  background-color: #000;
  border-radius: 50%;

  align-self: start;
  flex: 1 1;
}

.about__image img {
  display: block;
  width: 149px;
}

.about__content {
  margin-left: 25px;
  max-width: 885px;
}

.about__content-title {
  margin-top: 101.5px;
  margin-bottom: 100px;

  font-size: 40px;
  font-weight: 700;
  text-transform: uppercase;
}

.about__content-text {
  line-height: 115%;
}

.about__content-text > :not(:last-child) {
  margin-bottom: 29px;
}

/*about--------------------------*/

/*footer--------------------------*/

.footer {
  padding: 93.5px 50px 90px;

  display: flex;
  justify-content: space-between;
}

/* .footer__contact-list {
} */

.footer__menu {
  text-align: center;
}

.footer__menu-list {
  list-style: none;
}

.footer__social-list {
  display: flex;
  list-style: none;
}

.footer__social-list > :not(:last-child) {
  margin-right: 48px;
}

.social-list__item {
  max-width: 48px;
  max-height: 48px;
  border-radius: 50%;
  transition: background-color 0.3s ease;
}

.social-list__item:hover {
  background-color: #ffeb3c;
}

/* .social-list__item-link {
} */

.social-list__item-link img {
  display: block;
  max-width: 48px;
}

/*footer--------------------------*/
